@import "tailwindcss";

@theme {
	/* Colors */
	--color-background: #050505;
	--color-surface: #111111;
	--color-border: #27272a;
	--color-primary: #ffffff;
	--color-secondary: #a1a1aa;
	--color-accent: #dc2626; /* Red-600 */
	
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	body {
		background-color: var(--color-background);
		color: var(--color-primary);
		font-family: var(--font-sans);
		-webkit-font-smoothing: antialiased;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
